.container-header-contract {
    width: 100%;
}

.title-contract {
    color: #6D6D6D;
    font-size: 12px;
    font-weight: 400;
}

.title-infos {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2%;
}