.nav-defaulters {
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nav-defaulters:hover {
    background: #6D6D6D;
    color: white;
}

.nav-defaulters-active {
    background: #6D6D6D;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nav-non-defaulters {
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nav-non-defaulters:hover {
    background: #6D6D6D;
    color: white;
}

.nav-non-defaulters-active {
    background: #6D6D6D;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}


.container-devices-pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #f2f2f3;
    margin-top: 5%;
    position: inline-end;
    border-radius: 20px;
}


.container-pagination-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 81%;
}


.btn-user-pagination{
    margin: 0.5%;
    border-radius: 8px;
}