.container-header-associate{
    width: 100%;
    padding: 1% 2% 3%;
}

.container-fontName-titulo{
    font-size: 28pt;
    font-weight: 600;
}

.container-fontName-associado{
    float: right;
    font-size: 19pt;
    font-weight: 600;
}

.container-fontDepart-associado{
    float: right;
    font-size: 13pt;
    font-weight: 400;
}

.container-card-disponible{
    border-radius: 20px;
    background: #D9D9D9;
}

.container-coluna-esq-associate{
    margin: 5% 2% 0;
}

.container-card-fontTit{
    font-size: 18pt;
    margin: 2% 2%; 
}

.container-coluna-dir-associate{
    height: 100%;
    margin: 4% 2% 0% 8%;
}

/* ------------- */




.container-btns-associate{
    width: 100%;
    padding-top: 2%;
    text-align: center;
}

.btn-associate-salvar{
    width: 40%;
    margin-right: 1%;
}

.container-pophover-associate{
    width: auto;
    padding: 0%;
}

.btn-associate-sair{
    width: 25%;
}


.font-popOver{
    padding: 1%;
    border-radius: 5px;
    font-weight: 700;
}
.container-btn-popover{
    text-align: center;
}

/* ------------- DEL LOGIN*/

.font-header-delLogin{
    font-size: 16pt;
    padding: 0 1%;
}

.container-body-delEmpLogin{
    width: 98%;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    margin: 2% 1%;
    border-radius: 5px;
    background: rgba(189, 14, 14, 0.05);
}

.font-delEmp-subTitulo{
    font-size: 10pt;
    font-weight: 800;
}

.font-delEmp-text{
    font-size: 12pt;
}

.container-delEmpLogin-footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-delEmp-confirm{
    width: 50%;
    color: white;
}


