.newUser-input-IncorrectEmail{
    background: rgb(245, 163, 56);
}

.modal-newUser{
    width: 90vw;
}

.container-newUser-permission{
    border-radius: 20px;
}

.newUserTil{
    font-size: 16pt;
    font-weight: 700;
}